@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* 사용색상코드(진함내림차순)
#BE9FE1
#C9B6E4
#E1CCEC
#F1F1F6
    백그라운드 색상
    #2B2B2B
    #343434
    #3c3c3c
    #454545
    흰색
    #dedede

*/

body{
    font-family: 'Roboto', sans-serif;
    border: none;
    text-decoration-line: none;
    font-size: 18px;
    background-color: #2B2B2B;
    color: #dedede;
};

a:link { color: #dedede; }
a:visited { color: #dedede; }
a:hover { color:#BE9FE1; }
a:active { color:#E1CCEC; }
input:-webkit-autofill {
    background-color: #343434;
   -webkit-box-shadow: 0 0 0 1000px #343434 inset;
   -webkit-text-fill-color: #dedede;
}

.login-wrapper{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:0px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#login-form{
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    outline-style: solid;
    outline-width: medium;
    outline-color: #BE9FE1;
    border-radius: 10px;
}

@media (max-width:520px) {
    #login-form{
        width: 300px;
    }
}
.login-wrapper > h1{
    font-size: 30px;
    color:#BE9FE1;
}
.login-wrapper > h2{
    font-size: 24px;
    color: #BE9FE1;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #343434;
    border: 0px;
    color: #dedede;
}
#login-form > input::placeholder{
    color: #9d8ea4d0;
}
#login-form > input[type="submit"]{
    color: #343434;
    font-size: 16px;
    background-color: #6a32aa;
    margin-top: 20px;
    border: 0px;
}

.link-to-account {
    text-align: center;
}

#outtext{
    font-family:sans-serif;
}

.lobbybtn {
    background-color: #2b2b2b;
    color: #BE9FE1;
    outline-color: #BE9FE1;
    outline-style: solid;
    outline-width: medium;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border: 0px;
}
.randomback {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration-line : none;
}

.completed {
    color : rgba(255, 255, 255, 0.616);
    text-decoration: line-through;
}